node_modules/
package-lock.json
yarn.lock

dist/
out-tsc/
tmp/
temp/

.angular/cache/

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*.local

.DS_Store
Thumbs.db

